.chart {
  margin-top: 20px;
  padding: 1rem;
  border-radius: 12px;
  /* background-color: #f8dfff; */
  background-color: rgba(119, 45, 2, 0.2);

  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
}
