#submitBtn {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  background-color: #1f072c;
  color: white;
  margin: 20px;
  /* margin-left: 25vw; */
}

.submitBtnContainer {
  padding: 10px 30px;
  background-color: #424849;
  /* padding: 0 30px; */
  box-shadow: 4px 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
  justify-content: center;
}
